.App {
   text-align: center;
   background-image: url(./components/img/space.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   display: flex;
   flex-flow: column nowrap;
   justify-content: space-between;
   align-items: center;
   height: 600px;
   max-height: 2400px;
}

.divNav{
   margin: 0;
   display: flex;
   flex-flow: row nowrap;
   max-width: 900px;
   width: 100%;
}

.divCards{
   margin: 0;
   display: flex;
   flex-flow: row nowrap;
   max-width: 900px;
   width: 100%;
}
